---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?include_adult=false&language=en-US&page=1&query=Lord%20of%20the%20Rings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TMDB_API_READ_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 71dac1445423885392f0bd6d5bbbcfe0
      X-Memc-Age:
      - '7380'
      X-Memc-Expires:
      - '20802'
      Etag:
      - W/"ca361e87c6c43df1d64627a692297bb6"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/x2RS3uTcsJJ9IfjNPcgDmukoEcQ.jpg","genre_ids":[12,14,28],"id":120,"original_language":"en","original_title":"The
        Lord of the Rings: The Fellowship of the Ring","overview":"Young hobbit Frodo
        Baggins, after inheriting a mysterious ring from his uncle Bilbo, must leave
        his home in order to keep it from falling into the hands of its evil creator.
        Along the way, a fellowship is formed to protect the ringbearer and make sure
        that the ring arrives at its final destination: Mt. Doom, the only place where
        it can be destroyed.","popularity":182.668,"poster_path":"/6oom5QYQ2yQTMJIbnvbkBL9cHo6.jpg","release_date":"2001-12-18","title":"The
        Lord of the Rings: The Fellowship of the Ring","video":false,"vote_average":8.416,"vote_count":25220},{"adult":false,"backdrop_path":"/4ZXzO32rKk5bSoDZA6KpTzVJA.jpg","genre_ids":[16,14,28],"id":839033,"original_language":"en","original_title":"The
        Lord of the Rings: The War of the Rohirrim","overview":"183 years before the
        events chronicled in the original trilogy, a sudden attack by Wulf, a clever
        and ruthless Dunlending lord seeking vengeance for the death of his father,
        forces Helm Hammerhand and his people to make a daring last stand in the ancient
    [...]
