---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/903?language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TMDB_API_READ_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - e118b9f773ab55fe72a323537649d1cc
      X-Memc-Age:
      - '19230'
      X-Memc-Expires:
      - '6578'
      Etag:
      - W/"76f8c05ebd3fa637858cd91e76838ae4"
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/9TDi0FPOSAePfVLZXAUgFZhiMLf.jpg","belongs_to_collection":null,"budget":3200000,"genres":[{"id":28,"name":"Action"},{"id":18,"name":"Drama"},{"id":80,"name":"Crime"}],"homepage":"","id":903,"imdb_id":"tt0061512","origin_country":["US"],"original_language":"en","original_title":"Cool
        Hand Luke","overview":"When petty criminal Luke Jackson is sentenced to two
        years in a Florida prison farm, he doesn''t play by the rules of either the
        sadistic warden or the yard''s resident heavy, Dragline, who ends up admiring
        the new guy''s unbreakable will. Luke''s bravado, even in the face of repeated
        stints in the prison''s dreaded solitary confinement cell, \"the box,\" make
        him a rebel hero to his fellow convicts and a thorn in the side of the prison
        officers.","popularity":17.975,"poster_path":"/4ykzTiHKLamh3eZJ8orVICtU2Jp.jpg","production_companies":[{"id":4051,"logo_path":"/cr7fvW3IZ1xQmlHTk0CHqoa038b.png","name":"Warner
        Bros.-Seven Arts","origin_country":"US"},{"id":11496,"logo_path":null,"name":"Jalem
        Productions","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1967-11-01","revenue":16217773,"runtime":127,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"The
        man... and the motion picture that simply do not conform.","title":"Cool Hand
        Luke","video":false,"vote_average":7.727,"vote_count":1413}'
  recorded_at: Sun, 08 Dec 2024 22:20:43 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/903/credits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TMDB_API_READ_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - be6142a27a6689e113ac1b03d1c4e0db
      X-Memc-Age:
      - '22286'
      X-Memc-Expires:
      - '863'
      Etag:
      - W/"e4e9d601767154ab26d75b854b6f38f6"
    body:
      encoding: UTF-8
      string: '{"id":903,"cast":[{"adult":false,"gender":2,"id":3636,"known_for_department":"Acting","name":"Paul
        Newman","original_name":"Paul Newman","popularity":27.611,"profile_path":"/bP2fByqNR7BorsUNuD6nSm0u2vJ.jpg","cast_id":13,"character":"Luke
        Jackson","credit_id":"52fe428ac3a36847f8026daf","order":0},{"adult":false,"gender":2,"id":12950,"known_for_department":"Acting","name":"George
        Kennedy","original_name":"George Kennedy","popularity":18.654,"profile_path":"/fIVmcPEcPmh0Rbx4mYf9aneCmDe.jpg","cast_id":14,"character":"Dragline","credit_id":"52fe428ac3a36847f8026db3","order":1},{"adult":false,"gender":2,"id":8962,"known_for_department":"Acting","name":"Luke
        Askew","original_name":"Luke Askew","popularity":9.693,"profile_path":"/fZnBGTtY24YAaebGdlRA2gMeYS.jpg","cast_id":15,"[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/903/reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TMDB_API_READ_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 91ec2145cd2bbe293d5ae636f7caa08f
      X-Memc-Age:
      - '2609'
      X-Memc-Expires:
      - '24879'
      Etag:
      - W/"c5083ab581f6f660b91e70cce87c8398"
    body:
      encoding: UTF-8
      string: '{"id":903,"page":1,"results":[{"author":"John Chard","author_details":{"name":"","username":"John
        Chard","avatar_path":"/utEXl2EDiXBK6f41wCLsvprvMg4.jpg","rating":10.0},"content":"Oh
        Luke you wild beautiful thing!\r\n\r\nLuke (Paul Newman) lands himself in
        a Deep South prison farm for drunkenly cutting the heads off of parking meters.
        Once at the farm Luke refuses to be ground down by the system and its grinning
        warden (a brilliant Strother Martin). As things role by Luke becomes something
        of a hero to his fellow inmates and this is not lost on the authority in charge
        of the farm. Things are sure to come to a head as Luke r[...]
